@font-face {
	src: url(fonts/SourceSansPro.ttf);
	font-family: sansPro;
}

body {
	font-family: sansPro;
}

#map {
	width: 800px;
	height: 600px;
	padding: 20px;
	background-color: skyblue;
	overflow: hidden;
}

#map-davao {
	width: 100%;
	height: 100%;
}

.hover {
	background-color: #FF9800;
}

path {
	cursor: pointer;
}

.stat-box {
	background-color: #fff;
	position: absolute;
	padding: 10px;
	width: 150px;
}

.filter-box {
	position: absolute;
	background-color: #fff;
	padding: 10px;
	top: 180px;
}